/**
{
   border: solid 1px rgb(196, 86, 86);
}*/
/*------------------menu-----------------*/
.bg-color {
   background-color: #4c0983!important;
}
.nav-item a:hover
{
   background-color: #22097c!important;
} 
.titulo
{
   font-family: 'Source Code Pro', monospace;
}
/*------------------fin--menu-----------------*/
/*------------------carrusel-----------------*/
.carousel-item img
{
   height: 619px;
}
/*------------------fin carrusel-----------------*/
/*------------------hr-separador-----------------*/
.separador 
{  
   margin: 5%;
   border:0;
   border-top: 4px double blue; 
   width: 90%;
}
/*------------------fin-hr-separador-----------------*/
/*------------------secciones-----------------*/
.margen
{
   margin-top:100px !important;  
}
.texto
{
   color: white;
   padding:70px 0px;
   text-align: center;
   background: url(../imagenes/texto}.jpg) no-repeat center center fixed;
   background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
.field__item
{
   padding: 20px;
   border:solid 3px rgb(10, 112, 116) ;
}
.malla
{
   text-decoration:none;
   display:inline;
   border:0;
   padding:0;
   margin:0;
   text-decoration:underline;
   background:none;
   color:#000088;
   font-family: arial, sans-serif;
   font-size: 1em;
   line-height:1em;
}
.malla:hover 
{
  text-decoration:none;
  color:#0000cc;
  cursor:pointer;
}
.header-ciclo
{
   color: rgb(97, 10, 100);
}